<?php

return [
    'doctrine' => [
        'connection' => [
            'orm_default' => [
                'driverClass'  => \BsbDoctrineReconnect\DBAL\Driver\PDOMySql\Driver::class,
                'wrapperClass' => \BsbDoctrineReconnect\DBAL\Connection::class,

                'params' => [
                    'driverOptions' => [
                        'x_reconnect_attempts' => 10,
                    ],
                ]
            ],
        ],
    ],
];
